.TarifsTable {
  width: 60%;
  margin: auto;
}
.table-type {
  margin: 30px 0px;
}
.tabel-type-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tabel-type-title h3 {
  color: var(--primary);
  font-family: var(--primary-font);
  font-size: 24px;
  margin: 20px 10px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
@media screen and (max-width: 900px) {
  .TarifsTable {
    width: 100%;
    margin: auto;
  }
  .tabel-type-title {
    display: flex;
    flex-direction: column;
    margin: 10px;
  }
}
