.doctors-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.doctor-card {
  position: relative;
  overflow: hidden;
  transition: all 0.8s ease-in 0.1s;
}

.description {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.689);
  width: 100%;
  height: 100%;
  padding: 10px;
  opacity: 0;
  transition: opacity 0.3s;
  transition: all 0.4s ease-in 0.1s;
}

.description-doctor {
  margin: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.title-description-doctor {
  font-size: 18px;
  font-weight: 600;
  padding-top: 10px;
  margin: 5px;
  line-height: 140%;
}

.text-description-doctor {
  font-size: 16px;
  font-weight: 400;
  padding-top: 10px;
  margin: 5px;
  line-height: 140%;
}

.icon-description {
  color: var(--secondary);
  font-size: 12px;
  margin: 0px 5px;
}

.doctor-card:hover .description {
  opacity: 1;
}

.doctors-cards p {
  color: var(--secondary);
  font-family: var(--secondary-Font);
  font-size: 18px;
  margin: 0px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2.24px;
  text-transform: uppercase;
}

.doctors-cards h1 {
  color: var(--primary);
  font-family: var(--primary-font);
  font-size: 32px;
  margin: 5px 0px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.Doctors {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  margin: 20px auto;
}

.doctor-card {
  font-family: var(--secondary-Font);
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--light-blue);
  color: var(--primary);
  border-radius: 5px;
  padding-bottom: 20px;
}

.doctor-card .name-doctor {
  color: var(--primary);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  padding-top: 10px;
  margin: 5px;
  line-height: 140%;
}

.doctor-card .doctor-specialties {
  color: var(--primary);
  font-size: 16px;
  font-style: normal;
  margin: 10px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2.88px;
  text-transform: uppercase;
}

.doctor-card img {
  width: 100%;
  height: 350px;
  object-fit: cover;
}

.icon-doctor-card {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
}

.social-media {
  height: 20px;
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary);
  border-radius: 100%;
  font-size: 12px;
  color: var(--white-text);
}

@media screen and (max-width: 900px) {
  .doctors-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
  }

  .doctors-cards p {
    color: var(--secondary);
    font-family: var(--secondary-Font);
    font-size: 14px;
    margin: 0px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2.24px;
    text-transform: uppercase;
  }

  .doctors-cards h1 {
    color: var(--primary);
    font-family: var(--primary-font);
    font-size: 28px;
    margin: 5px 0px;
    font-style: normal;
    font-weight: 600;
    text-align: center;
    line-height: normal;
  }

  .Doctors {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
  }

  .doctor-card {
    font-family: var(--secondary-Font);
    display: flex;
    width: 150px;
    align-items: center;
    flex-direction: column;
    background-color: var(--light-blue);
    color: var(--primary);
    border-radius: 5px;
    padding-bottom: 0px !important;
  }

  .doctor-card .name-doctor {
    color: var(--primary);
    font-size: 12px;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    padding-top: 10px;
    margin: 5px;
    line-height: 140%;
    width: 100%;
  }

  .doctor-card .doctor-specialties {
    color: var(--primary);
    font-size: 12px;
    font-style: normal;
    text-align: center;
    margin: 10px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2.88px;
    text-transform: uppercase;
  }

  .doctor-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
}
