.Initial_Doctors {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 60px auto;
    width: 80%;
}

.Initial_Doctors p {
    color: var(--secondary);
    font-family: var(--secondary-Font);
    font-size: 18px;
    margin: 0px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2.24px;
    text-transform: uppercase;
}

.Initial_Doctors h1 {
    color: var(--primary);
    font-family: var(--primary-font);
    font-size: 32px;
    margin: 5px 0px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.learn-more-btn-doctor {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--secondary);
    font-family: var(--secondary-Font);
    font-size: 16px;
    margin: 20px;
    cursor: pointer;
    transition: all 0.2s ease 0.1s;
}

.learn-more-icon-doctor {
    margin: 0px 10px;
    font-size: 18px !important;
}

.learn-more-btn:hover {
    color: var(--primary);
}

@media screen and (max-width: 900px) {

    .Initial_Doctors {
        width: 100%;
    }

    .Initial_Doctors p {
        font-size: 16px;
    }

    .Initial_Doctors h1 {
        font-size: 28px;
        width: 60%;
    }
}