.Headersingle-specialties-section {
  padding-top: 120px;
}
.imageee {
  display: flex;
  justify-content: center;
}
.image-sps {
  width: 80%;
  height: 300px;
  object-fit: cover;
  justify-content: center;
  margin: auto;
  align-items: center;
}
.Headersingle-specialties {
  height: 600px;
  background: #ffffff73
    url("https://res.cloudinary.com/dmn6uzy82/image/upload/v1750882654/overlay-top_pcsupp.png")
    center center/cover no-repeat;
  width: 100%;
  object-fit: contain;
}
.Headersingle-specialties-btn {
  width: 1 0%;
  height: 20px;
  /* margin-top: 40px;
  margin-right: 200px; */
  margin: 30px auto;
}

.Headersingle-specialties-btn {
  padding: 13px 35px;
  font-size: 16px;
  font-family: var(--secondary-Font);
  color: var(--primary);
  background-color: var(--light-blue);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  cursor: pointer;
}
.Headersingle-specialties-content {
  /* padding-top: 120px; */

  /* width: auto;
  margin-left: 200px; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100%;
  margin: auto;
  /* text-align: left; */
}

.Headersingle-specialties-content p {
  color: var(--secondary);
  font-family: var(--secondary-Font);
  font-size: 24px;
  font-style: normal;
  margin: 2px 0px;
  font-weight: 500;
  line-height: 140%;
  text-transform: uppercase;
}

.Headersingle-specialties-content h1 {
  color: var(--primary);
  font-family: var(--primary-font);
  font-size: 48px;
  margin: 10px 0px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.header-specialties-btn {
  width: 100px;
  height: 20px;
  /* margin-top: 40px;
  margin-right: 200px; */
  margin: 20px auto;
}

.header-specialties-btn {
  padding: 13px 35px;
  font-size: 16px;
  font-family: var(--secondary-Font);
  color: var(--primary);
  background-color: var(--light-blue);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  cursor: pointer;
}

.doctorInSpecialty {
  width: 80%;
  margin: auto;
}

.show-spesialty {
  width: 80%;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  margin: 20px auto;
  gap: 20px;
}

.show-spesialty img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  margin: 20px 0px;
}

.show-spesialty-text {
  display: flex;
  flex-direction: column;
  margin: 0px 20px;
}

.show-spesialty-text h3 {
  color: var(--primary);
  font-family: var(--primary-font);
  font-size: 32px;
  padding-top: 20px;
  margin: 10px 0px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.show-spesialty-text p {
  color: var(--text);
  font-family: var(--secondary-Font);
  font-size: 16px;
  font-style: normal;
  margin: 10px 0px;
  font-weight: 400;
  line-height: 140%;
}

.show-spesialty-icon {
  display: flex;
  gap: 10px;
  align-items: center;
  color: var(--secondary);
  font-family: var(--secondary-Font);
  font-size: 16px;
  font-style: normal;
  margin: 10px 0px;
  font-weight: 400;
  line-height: 140%;
}

:where(.css-dev-only-do-not-override-1rqnfsa).ant-skeleton
  .ant-skeleton-content {
  width: 80% !important;
}

@media screen and (max-width: 900px) {
  .Headersingle-specialties-content {
    padding-top: 80px;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
  }

  .Headersingle-specialties-content p {
    color: var(--primary);
    font-family: var(--secondary-Font);
    font-size: 14px;
    font-style: normal;
    margin: 2px 0px;
    font-weight: 400;
    line-height: 140%;
    text-transform: uppercase;
    text-align: left;
  }

  .Headersingle-specialties-content h1 {
    color: var(--primary);
    font-family: var(--primary-font);
    font-size: 32px;
    margin: 2px 0px;
    font-style: normal;
    font-weight: 600;
    text-align: left;

    line-height: normal;
  }
  .doctorInSpecialty {
    width: 90%;
    margin: auto;
  }

  .show-spesialty {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
  }

  .show-spesialty img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    margin: 0px 0px;
  }

  .show-spesialty-text {
    display: flex;
    flex-direction: column;
    margin: 0px 20px;
  }

  .show-spesialty-text h3 {
    color: var(--primary);
    font-family: var(--primary-font);
    font-size: 32px;
    padding-top: 20px;
    margin: 10px 0px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  .show-spesialty-text p {
    color: var(--text);
    font-family: var(--secondary-Font);
    font-size: 16px;
    font-style: normal;
    margin: 5px 0px;
    font-weight: 400;
    line-height: 140%;
  }

  .show-spesialty-icon {
    display: flex;
    gap: 10px;
    align-items: center;
    color: var(--secondary);
    font-family: var(--secondary-Font);
    font-size: 16px;
    font-style: normal;
    margin: 10px 0px;
    font-weight: 400;
    line-height: 140%;
  }
}
