.recommendation {
  background: #fff url("../../assets/recommendation.png") center center/cover
    no-repeat;
  height: 450px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px auto;
}

.recommendation-element {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  text-align: center;
}

.recommendation-element img {
  width: 45px;
  margin: 40px 10px;
}

.swiper {
  width: 100%;
  height: 100%;
  z-index: 0;
}

.swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.swiper-slide p {
  color: var(--white-text);
  text-align: center;
  font-family: var(--secondary-Font);
  font-size: 14px;
  font-style: normal;
  line-height: 180%;
  letter-spacing: 0.5px;
  margin: 10px;
  z-index: 0;
}

.swiper-slide h4 {
  color: var(--white-text);
  text-align: center;
  font-family: var(--secondary-Font);
  font-size: 16px;
  font-style: normal;
  letter-spacing: 0.5px;
  font-weight: 200;
  line-height: 140%;
  padding: 10px 15px 20px 15px;
  border-top: 0.3px solid var(--light-blue);
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-pagination-bullet {
  background-color: var(--secondary);
  /* Change to the desired color */
}

.swiper-pagination-bullet-active {
  background-color: var(--light-blue);
}

@media screen and (max-width: 900px) {
  .recommendation {
    background: #fff url("../../assets/recommendation.png") center center/cover
      no-repeat;
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
  }

  .recommendation-element {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    text-align: center;
  }

  .recommendation-element img {
    width: 45px;
    margin: 20px 10px;
  }

  .swiper {
    width: 100%;
    height: 100%;
    z-index: 0;
  }

  .swiper-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .swiper-slide p {
    color: var(--white-text);
    text-align: center;
    font-family: var(--secondary-Font);
    font-size: 14px;
    font-style: normal;
    line-height: 180%;
    letter-spacing: 0.5px;
    margin: 10px;
    z-index: 0;
  }

  .swiper-slide h4 {
    color: var(--white-text);
    text-align: center;
    font-family: var(--secondary-Font);
    font-size: 16px;
    font-style: normal;
    letter-spacing: 0.5px;
    font-weight: 200;
    line-height: 140%;
    padding: 10px 15px 20px 15px;
    border-top: 0.3px solid var(--light-blue);
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .swiper-pagination-bullet {
    background-color: var(--secondary);
    /* Change to the desired color */
  }

  .swiper-pagination-bullet-active {
    background-color: var(--light-blue);
  }
}
