@import "tailwindcss";

@theme {
  --breakpoint-3xl: 120rem;
  --color-text: #212124;
  --color-border: #d7d7d7;
  --color-primary-500: #ef9422;
  --color-primary: #232b61;
  --color-secondary: #ef9422;
  --primary-font: "Yeseva One", serif;
  --secondary-Font: "Montserrat", sans-serif;
  --color-light-blue: #c4d5df;
  --ease-fluid: cubic-bezier(0.3, 0, 0, 1);
  --ease-snappy: cubic-bezier(0.2, 0, 0, 1);
  /* ... */
}
:root {
  --primary: #232b61;
  --secondary: #ef9422;
  --white-text: #ffffff;
  --text: #212124;
  --border: #d7d7d7;
  --black: #000000;
  --light-blue: #c4d5df;
  --primary-font: "Yeseva One", serif;
  --secondary-Font: "Montserrat", sans-serif;
}

@layer utilities {
  @keyframes fade-in-down {
    0% {
      opacity: 0;
      transform: translateX(30px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  .animate-fade-in-down {
    animation: fade-in-down 0.3s ease-out;
  }
}
:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer base {
  html,
  :host {
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%; /* الخاصية القياسية */
  }
}
body {
  font-family: "inter", sans-serif;
}
