.Header-services-section {
  padding-top: 120px;
}

.Header-services {
  background: #ffffff10
    url("https://res.cloudinary.com/dmn6uzy82/image/upload/v1750882654/overlay-top_pcsupp.png")
    center center/cover no-repeat;
  height: 300px;
}

.header-services-content img {
  width: 600px;
}

.header-services-content {
  padding-top: 80px;
  width: 40%;
  margin-left: 200px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  text-align: left;
}

.header-services-content p {
  color: var(--primary);
  font-family: var(--secondary-Font);
  font-size: 18px;
  font-style: normal;
  margin: 2px 0px;
  font-weight: 400;
  line-height: 140%;
  text-transform: uppercase;
}

.header-services-content h1 {
  color: var(--primary);
  font-family: var(--primary-font);
  font-size: 48px;
  margin: 2px 0px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.show-services {
  width: 80%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 20px auto;
  gap: 20px;
}

.show-services-text {
  display: flex;
  flex-direction: column;
  margin: 0px 20px;
}

.show-services-text h3 {
  color: var(--primary);
  font-family: var(--primary-font);
  font-size: 32px;
  padding-top: 20px;
  margin: 10px 0px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.show-services-text p {
  color: var(--text);
  font-family: var(--secondary-Font);
  font-size: 16px;
  font-style: normal;
  margin: 10px 0px;
  font-weight: 400;
  line-height: 140%;
}
.learn-more-btn-services-card {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  color: var(--secondary) !important;
  font-family: var(--secondary-Font) !important;
  font-size: 14px !important;
  margin: 10px !important;
  text-decoration: none !important;
}

.learn-more-icon-services-card {
  margin: 0px 10px !important;
  font-size: 12px !important;
}

@media screen and (max-width: 900px) {
  .Header-services {
    background: #ffffff10
      url("https://res.cloudinary.com/dmn6uzy82/image/upload/v1750882654/overlay-top_pcsupp.png")
      center center/cover no-repeat;
    height: 375px;
  }

  .header-services-content img {
    width: 375px;
  }

  .header-services-content {
    padding-top: 200px;
    width: 100%;
    display: flex;
    margin: 0;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .header-services-content p {
    color: var(--primary);
    font-family: var(--secondary-Font);
    font-size: 16px;
    font-style: normal;
    margin: 2px 0px;
    font-weight: 400;
    line-height: 140%;
    text-align: center;
    text-transform: uppercase;
  }

  .header-services-content h1 {
    color: var(--primary);
    font-family: var(--primary-font);
    font-size: 24px;
    margin: 2px 0px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    width: 90%;
  }

  .show-services {
    width: 90%;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    margin: 20px auto;
    gap: 20px;
  }

  .show-services-text {
    display: flex;
    flex-direction: column;
    margin: 100px 20px;
  }

  .show-services-text h3 {
    color: var(--primary);
    font-family: var(--primary-font);
    font-size: 32px;
    padding-top: 20px;
    margin: 10px 0px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  .show-services-text p {
    color: var(--text);
    font-family: var(--secondary-Font);
    font-size: 16px;
    font-style: normal;
    margin: 10px 0px;
    font-weight: 400;
    line-height: 140%;
  }
}
